body{
    
    margin:0;
    font-family: sans-serif;
    font-size:1rem;
    background-color:blanchedalmond;
    color: royalblue;
    font-family: 'Lobster', 'cursive';
}
h1{
    margin:0;
    font-size:3rem;

}
h2{
    font-size:4rem;
    color:royalblue;
}


.container{
    display:flex;
    flex-direction:column;
    max-width:900px;
    margin:0 auto;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
button{
    font-family: 'Lobster', 'cursive';
    width:180px;
    padding:1em;
    margin-left:0.5em;
    margin-bottom:1em;
    font-size:1rem;
    font-weight: 900;
    color:white;
    background-color: blue;
    border:none;
    border-radius:5px;
    cursor:pointer;
    transform:scale(1);
    transition: transform, 250ms;
    letter-spacing:5px;
}
button:hover{
    background-color:royalblue;
    transform:scale(1.1)
}
p{
    font-size:1.5rem;
    font-weight: 900;
    margin-bottom:0
}
#decreaseBtn, #addBtn{
    font-family: sans-serif;
}